/* HTML */
html {
    scroll-behavior: smooth;
}

body {
    font-family: monospace;
    background-color: #45dbe923;
    color: white;
    background-color: rgba(12,12,12,255);
    width: 100%;
    margin: 0;
}

main h1 {
    text-transform: uppercase;
    padding-top: 5px;
    color: #45dbe9;
    margin: 0;
}

h2 {
    font-size: 20px;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

p {
    font-size: 25px;
}

mark.blue {
    background: none;
    color: #45dbe9;
}

header a {
    font-size: 15px;
    font-weight: 0;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
}

footer h1 {
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
}

footer a {
    align-items: center;
    display: flex;
    margin: 40px;
}

footer img {
    width: 40px;
    height: 40px;
}

footer p {
    font-weight: bold;
    padding: 0px 15px;
    font-size: 15px;
}

nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav li a {
    font-weight: bold;
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;
}

nav li a:hover {
    border-bottom: 2px solid #45dbe9;
    color: #45dbe9;
}

button {
    text-align: center;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: black;
    color: #45dbe9;
    border: 2px solid #45dbe9;
    font-weight: bold;
    border-radius: 5%;
    width: 230px;
    height: 60px;
    font-size: 20px;
}

button:hover {
    background-color: #45dbe9;
    color: black;
}

/* Classes */
.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.right {
    right: 4%;
}

.left {
    left: 4%;
}

.right h1 {
    justify-content: right;
    text-align: right;
}

.left h1 {
    justify-content: left;
    text-align: left;
}

.right img {
    float: right;
}

.left img {
    float: left;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.line {
    background-color: #45dbe9;
    height: 1px;
}

.steamLogo {
    outline: 2px solid white;
    border-radius: 8%;
}

.banner {
    text-align: right;
    padding-top: 40px;
    padding-right: 40px;
}

.home {
    position: relative;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 11%;
    padding-right: 5%;
}

.homeText {
    max-width: 60%;
    font-size: 20px;
    padding-right: 3%;
}

.homeContacts {
    align-items: center;
    justify-content: right;
    text-align: right;
}

.homeContacts a {
    align-items: center;
    padding-left: 14px;
}

.homeContacts img {
    border-bottom: 2px solid transparent;
    width: 26px;
    height: 26px;
    padding-bottom: 7px;
}

.homeContacts img:hover {
    border-bottom: 2px solid #45dbe9;
}

.aboutDescription a {
    color: #45dbe9;
    text-transform: none;
    font-size: 25px;
}

.aboutDescription a:hover {
    color: white;
}

.profile {
    width: 250px;
    border-radius: 10%;
    border: 2px solid #45dbe9;
}

.aboutButton {
    margin: 100px;
    padding-top: 20px;
    padding-bottom: 150px;
    text-align: center;
}

.gamesItem{
    position: relative;
}

.gamesItem img {
    width: 100%;
}

.gamesItem h1 {
    color: #45dbe9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    max-width: 100%;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 5px;
}

.gamesItem p {
    text-align: justify;
    text-justify: distribute;
    font-size: 19px;
    padding-right: 50px;
    padding-left: 50px;
}

.gamesItem em {
    color: rgb(231, 231, 231);
    font-size: 18px;
}

.gamesItem button {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5%;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 60px;
}

.gamesItemButton {
    display: flex;
    justify-content: center;
}

.gameVideo {
    max-height: 20%;
}

.gameDescription {
    position: absolute;
    overflow: hidden;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom: 5px solid #45dbe9;
    flex-direction: column;
    min-height: 300px;
    backdrop-filter: blur(6px);
    font-size: 20px;
    width: 650px;
    bottom: 30px;
}

.gameDescriptionLine {
    background-color: #45dbe9;
    margin-top: 10px;
    height: 2px;
}

.gameDescription h1 {
    text-align: center;
    font-size: 35px;
}

.gameDescription p {
    font-size: 18px;
}

.gameDescription img {
    max-width: 200px;
    max-height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gameDescription img:hover {
    outline: 3px solid #45dbe9;
    border-radius: 8%;
}

.gameDescription button {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 200px;
    max-height: 130px;
}

.gameDescription em {
    color: #c0c0c0;
    font-size: 16px;
}

.right button {
    margin-right: 13%;
}

.gamesItem button:hover {
    background-color: rgb(46, 46, 46);
}

.gamesItem button:disabled {
    opacity: 0.5;
    cursor: default;
}

.footerContact {
    display: block;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid transparent;
}

.footerContact:hover {
    border-bottom: 2px solid #45dbe9;
}

.footerHomeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 60px;
}

/* Animations */
.slideH1 {
    position: relative;
    animation: slideLeft 0.4s;
}

.slideH2 {
    position: relative;
    animation: slideLeft 0.6s;
}

.slideDescription {
    position: relative;
    animation: slideLeft 1.1s;
}

.slideContacts {
    position: relative;
    animation: slideLeft 1.2s;
}

.slideProfile {
    position: relative;
    animation: slideRight 0.8s;
}

@keyframes slideLeft {
    from { clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); }
    to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }

    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

@keyframes slideRight {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

/*Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }