body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgba(12,12,12,255);
    width: 100%;
    margin: 0;
}

main h1 {
    text-transform: uppercase;
    padding-top: 5px;
    color: rgb(0, 153, 255);
    margin: 0;
}

h2 {
    font-size: 20px;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

p {
    font-size: 25px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 57, 95, 0.4);
}

footer h1 {
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
}

footer a {
    align-items: center;
    display: flex;
    margin: 40px;
}

footer img {
    width: 40px;
    height: 40px;
}

footer p {
    font-weight: bold;
    padding: 0px 15px;
    font-size: 15px;
}

nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav li a {
    font-weight: bold;
}

nav li a:hover {
    color: rgb(0, 153, 255);
    transition: 0.3s;
    font-size: 16px;
}

button {
    text-align: center;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* Classes */
.right {
    right: 4%;
}

.left {
    left: 4%;
}

.right h1 {
    justify-content: right;
    text-align: right;
}

.left h1 {
    justify-content: left;
    text-align: left;
}

.right img {
    float: right;
}

.left img {
    float: left;
}

.line {
    background-color: rgb(0, 153, 255);
    height: 1px;
}

.banner {
    text-align: right;
    padding-top: 40px;
    padding-right: 40px;
}

.home {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 11%;
    padding-right: 13%;
    padding-bottom: 19%;
}

.homeText {
    max-width: 42%;
    font-size: 20px;
    padding-right: 7%;
}

.profile {
    max-width: 100%;
    border-radius: 10%;
    border: 2px solid rgb(0, 153, 255);
}

.about {
    text-align: center;
    background-color: rgba(0, 57, 95, 0.4);
    padding: 5%;
    padding-top: 2%;
}

.aboutTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding-top: 4%;
    font-size: 28px;
}

.about p {
    display: flex;
    text-align: justify;
    text-justify: inter-word;
    font-size: 25px;
}

.gamesItem{
    position: relative;
    overflow: hidden;
    display: flex;
    height: 700px;
}

.gamesItem img {
    object-fit: cover;
    width: 100%;
}

.gameDescription {
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    width: 280px;
    height: 100%;
    padding: 5%;
}

.gameDescription img {
    display: block;
    object-fit: contain;
    max-width: 160px;
    max-height: 90px;
}

.gamesItem h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 30px;
    max-width: 100%;
}

.gamesItem p {
    margin-top: 0%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 19px;
}

.gamesItem em {
    color: rgb(231, 231, 231);
    font-size: 18px;
}

.gamesItem button {
    position: absolute;
    display: flex;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5%;
    margin-top: 10%;
    width: 170px;
    height: 50px;
}

.right button {
    float: right;
    margin-right: 13%;
}

.gamesItem button:hover {
    background-color: rgb(27, 27, 27);
}

.gamesItem button:disabled {
    opacity: 0.5;
    cursor: default;
}